<table class="profile">
  <tr>
    <td class="main">    
      <h2>
        <%= h @user.name %>
      </h2>
    </td>
    <td>
      <h3>
        <%= @user.email %>
      </h3>
    </td>
  </tr>
</table>
<table class="schedule">
  <tr>
    <th colspan="2">
      From: <%= Station.find_by_number(@user.origin).name %>
    </th>
    <th colspan="2">
      To: <%= Station.find_by_number(@user.destination).name %>
    </th>
  </tr>
 <tr>
    <th>Departure</th>
    <th>Arrival</th>
    <th>Tarvel Length</th>
    <th>Is Direct?</th>
  </tr>
<%= @schedule %>
</table>
